.vs/ActionGame_ItoDaigo/v17/Browse.VC.db
.vs/ActionGame_ItoDaigo/FileContentIndex/
.vs/ActionGame_ItoDaigo/copilot-chat/
.vs/ActionGame_ItoDaigo/CopilotIndices/
.vs/ActionGame_ItoDaigo/v17/ipch/
DX22Base/x64/
x64/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
